<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Page's Metadata -->
    <%- include('./partials/metadata.ejs') %>
</head>
<body>
    <!-- Page's Header -->
    <%- include ('./partials/header.ejs') %>

    <!-- Query Parameters -->
    <%- include ('./partials/forms/resize.form.ejs') %>
    <%- include ('./partials/forms/grayscale.form.ejs') %>
    <%- include ('./partials/forms/threshold.form.ejs') %>
    <%- include ('./partials/forms/negative.form.ejs') %>

    <br><p>Hello from index.ejs file</p>

    <!-- Page's Footer -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>
